# Defining owners for the entire repository
*       @ibrogers0812

# Define owners for specific directories or files
app/    @ibrogers0812
tests/  @ibrogers0812
.github/ @ibrogers0812

# Also Defining team of group who helped (@ibrogers0812, @KaitonicsBlue, @K-Rodio, @RoastedBacon, @Sporked-Spoon)
# app/    @ibrogers0812/Forget-Med-Not
