# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Configuration files
*.cfg
*.ini
*.toml

# Logs
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Test results
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints

# Flask specific
instance/
web/static/web/dist/
*.env

# Local development files
dev.db

# Pytest
.pytest_cache/
__pycache__/

# Others
*.pickle
*.pkl
__pycache__/
*.pyc

# Ignore specific files
pharmacy_info.json
requirements.txt
*.txt
